body {
    background-color: lightblue;
}
h1 {
   color: black;
   text-align: center;
   text-shadow: 3px 3px 5px aquamarine ;
   
}

h4  {
    color: black;
    text-shadow: 2px 2px 5px aquamarine;
    
}

.marci {
    float: left;
    width: 630px;
    height: 400px;
}

.ruben {
    float: right;
    width: 640px;
    height: 400px;
 
}

.tarna {
    width: 1350px;
    height: 600px;
}

.szabi {
    width: 1290px;
    height: 280px;
}

p{
    text-align: justify;
}

ul {
    margin-left: 35px;
}